* {
  box-sizing: border-box;
}

h1 {
  color: black;
  text-align: center;
  font-family: Arial,sans-serif;
  margin: 50px 50px;
}

.box {
  margin:2em;
  position: relative;
}

.body {
  border: 1px solid black;
  background-color: #AAAFFF;
}
